{% extends 'main/temp.html.twig' %}
{% block title %} Strona główna {% endblock %}
{% block content %}

{{test}}

{% for product in products %}

  <div class="jumbotron" style="background-color:#212121;color:white">

    <h1 class="display-4"> {{product.name}}</h1>
    <p class="lead">Wiek: {{product.age}}</p>
    <hr class="my-4">
    <p> <b>Cena: {{product.price}}</b>  </p>
  </div>

{% endfor %}

<form action="/product" method="POST">
<div class="form-group">
<input type="text"  name="id"/>
<input type="submit"/>
</div>
</form>
{% endblock %}
