{% extends 'main/temp.html.twig' %}
{% block title %} Strona główna {% endblock %}
{% block content %}

<h1> TEST </h1>

{{test}}

{% for product in products %}

  <div class="jumbotron light" style="">

    <h1 class="display-4"> {{product.name}}</h1>
    <p class="lead">Wiek: {{product.age}}</p>
    <hr class="my-4">
    <p> <b>Cena: {{product.price}}</b>  </p>
  </div>

{% endfor %}


{% endblock %}
