<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <title> Planszowki-sklep</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color:#e1bee7;">


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000000;">
  <a class="navbar-brand btn" style="background-color:#a30011;" href="{{path('app_main_controller')}}"><strong>{%block title %}  {% endblock %}</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="background-color:#a30011;" href="/">Strona Główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" style="background-color:#a30011;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          Kategorie
          <div class="dropdown-menu btn-info" style="background-color:#dd2c00;"  aria-labelledby="navbarDropdown">
            <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Strategiczne</a>
            <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Ekonomiczne</a>
            <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Imprezowe</a>
            <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Przygodowe</a>
            <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Logiczne</a>
            <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Dla dzieci</a>
        </a>
      </li>
      <li class="nav-item dropdown" style="background-color:#a30011;">
        <a class="nav-link dropdown-toggle" style="background-color:#a30011;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu navbar-dark" style="background-color:#dd2c00; color:white;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Zaloguj</a>
          <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;"  href="#">Wyloguj</a>
          <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Mój koszyk</a>
          <a class="dropdown-item navbar-dark" style="background-color:#dd2c00; color:white;" href="#">Ustawienia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item navbar-dark" href="#">Informacje</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warrning my-2 my-sm-0" style="background-color:#a30011;" type="submit">Szukaj</button>
    </form>
  </div>
</nav>

<div class="container-xl">
{% block content %}





{% endblock %}
</div>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
