{% extends "main/main.html.twig" %}

{% block content %}
<div class="jumbotron">
 <h1 class="alert-success"> Login site </h1>
  <h3 class="alert-primary"><b> You loged at {{login}} account </b></h3>
  
</div>
{% endblock %}
{% block filters %}

{% endblock %}
