{% extends "login/temp.html.twig"%}
{% block title %} Rejestracja {% endblock %}
{% block content %}

  <div class="jumbotron" style="width:100%; height:100%;background-color:#c63f17;color:white;">
  <form action="{{path('app_user_tryregister')}}" method="POST">
  <div class="form-group">
  <h1><b><center> Rejestracja </center></b></h1>
  <p>
    <input type="text" required class="form-control" name="nick" placeholder="Login"/>
  </p>
  <p>
    <input type="password" required class="form-control" name="haslo" placeholder="Hasło"/>
  </p>
  <p>
    <input type="text" required class="form-control" name="imie" pattern="[A-Z]{1}[a-z]+" placeholder="Imię"/>
  </p>
  <p>
    <input type="text" required class="form-control" name="nazwisko" pattern="[A-Z]{1}[a-z,ś,ó,ż,ź,ć]+" placeholder="Nazwisko"/>
  </p>
  <p>
    <input type="text" name="email" required class="form-control" name="email" placeholder="Email"/>
  </p>
  {% if alert %}
  <p class="alert alert-danger">
    {{alert}}
  </p>
  {% endif %}
  <p>
    <input type="submit" required class="form-control btn btn-success" value="Rejestruj" />
  </p>
  </div>
  </div>
  </form>
{% endblock %}

