{% extends "main/temp.html.twig"%}
{% block title %} Rejestracja {% endblock %}
{% block content %}

  <div class="jumbotron" style="width:100%; height:100%;margin-left:10%;">

  <h1><b> Rejestracja </b></h1>

  </div>
{% endblock %}

{% block filters %}

{% endblock %}
