{% extends "login/temp.html.twig"%}
{% block title %} Rejestracja {% endblock %}
{% block content %}

  <div class="jumbotron" style="width:100%; height:100%;background-color:#c63f17;color:white;">
  <form>
  <div class="form-group">
  <h1><b><center> Rejestracja </center></b></h1>
  <p>
    <input type="text" required class="form-control" name="name" placeholder="Login"/>
  </p>
  <p>
    <input type="text" required class="form-control" name="price" placeholder="Hasło"/>
  </p>
  <p>
    <input type="submit" required class="form-control btn" value="Rejestruj" />
  </p>
  </div>
  </div>
  </form>
{% endblock %}

{% block filters %}

{% endblock %}
