{% extends "login/temp.html.twig" %}

{% block content %}


<div class="container" style="height:100%; width:100%;">

  <p>
    <h1> Informacje o stronie </h1>
    </hr>
    <p>
      <b> Autor: </b> GawlikP
    </p>
  </p>

</div>


{% endblock %}
